[Unit]
Description=Librespot Spotify Connect
After=pipewire.service pulseaudio.service network.target

[Service]
ExecStart=/usr/bin/librespot --name "MPD-Spotify" --backend pulseaudio --bitrate 320
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
