# Ignore everything by default
*

# Allow curated dotfiles and projects
!.config/
!.local/
!.icons/
!.themes/
!bin/
!HyDE/
!Cyberpunk-GRUB-Theme/
!spotify-mpd/
!opera-ffmpeg-solver/
!fix-opera-linux-ffmpeg-widevine/
!Libnick/
!yay/
!zed-preview/
!install-dotfiles.sh
!install-dotfiles-overlay.sh
!.gitignore
!README.md
!pkglists/
!docs/

# Whitelist curated subfolders inside .local/share
!.local/share/
!.local/share/mybash/
!.local/share/themes/
!.local/share/icons/
!.local/share/fonts/

# Ignore runtime junk and caches
.config/zsh/.histfile
.local/share/recently-used.xbel
.config/*/cache/
.local/share/Trash/
.local/share/flatpak/
.local/share/ice/
.local/share/waydroid/
.local/share/gvfs-metadata/

# Allow curated subfolders inside .local/share
!.local/share/mybash/

# Allow curated projects
!Cyberpunk-GRUB-Theme/
!spotify-mpd/
!zed-preview/
