# Ignore everything by default
*

# Allow curated dotfiles and scripts
!.config/
!.local/
!.icons/
!.themes/
!bin/
!install-dotfiles.sh
!install-dotfiles-overlay.sh
!.gitignore
!README.md
!pkglists/
!docs/

# Whitelist curated subfolders inside .local/share
!.local/share/mybash/
!.local/share/themes/
!.local/share/icons/
!.local/share/fonts/

# Ignore runtime junk and caches
.config/zsh/.histfile
.local/share/recently-used.xbel
.config/*/cache/
.local/share/Trash/
.local/share/flatpak/
.local/share/ice/
.local/share/waydroid/
.local/share/gvfs-metadata/

# Exclude upstream repos (keep them separate, not vendored)
Cyberpunk-GRUB-Theme/
spotify-mpd/
yay/
zed-preview/
Libnick/
fix-opera-linux-ffmpeg-widevine/
opera-ffmpeg-solver/
