# Ignore everything by default
*

# --- Top-level curated structure ---
!.config/
!.local/
!bin/
!home/
!scripts/
!bootstrap.sh
!install-dotfiles.sh
!install-dotfiles-overlay.sh
!restore-overlay.sh
!uninstall-dotfiles.sh
!.bashrc
!.zshrc
!.gitignore
!README.md

# --- Allow common curated file types ---
!*.conf
!*.sh
!*.keep
!*.ttf
!*.otf
!*.woff
!*.woff2

# --- Whitelist curated subfolders inside .config ---
!.config/hypr/
!.config/waybar/
!.config/rofi/
!.config/kitty/
!.config/zsh/
!.config/starship/
!.config/dunst/
!.config/cava/
!.config/btop/
!.config/fastfetch/
!.config/unifetch/
!.config/scripts/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/Kvantum/
!.config/mpd/
!.config/ncmpcpp/
!.config/mpv/
!.config/systemd/

# --- Whitelist curated subfolders inside .local/share ---
!.local/share/applications/
!.local/share/backgrounds/
!.local/share/easyeffects/
!.local/share/fastfetch/
!.local/share/fonts/
!.local/share/hyde/
!.local/share/hyprland/
!.local/share/icons/
!.local/share/mpd/
!.local/share/mybash/
!.local/share/nvim/
!.local/share/nwg-look/
!.local/share/rofi/
!.local/share/sddm/
!.local/share/sounds/
!.local/share/themes/
!.local/share/waybar/

# --- Whitelist scripts in .local/bin ---
!.local/bin/
!bin/

# --- Whitelist home additions ---
!home/.oh-my-zsh/

# --- Ignore runtime junk and caches ---
.config/zsh/.zcompdump*
.config/zsh/*.zwc
.local/share/Trash/
.local/share/recently-used.xbel
.config/*/cache/
*.log
*.lock
*.cache

# --- Block vendored runtimes and heavy binaries ---
.local/share/zed/
node_modules/
venv/
.env/
*.AppImage
*.iso
*.tar
*.zip
*.gz
*.xz
*.deb
*.rpm
*.pkg
*.dmg

# --- Block old upstream projects ---
Libnick/
yay/
Cyberpunk-GRUB-Theme/
spotify-mpd/
zed-preview/
opera-ffmpeg-solver/
fix-opera-linux-ffmpeg-widevine/

# Whitelist parent directories so children can be added
!.config/
!.local/
!.local/share/
!bin/
!home/

!.local/bin/
!home/.oh-my-zsh/
!.config/gtk-4.0/
