@define-color bar-bg rgba(52,30,44,0);
@define-color main-bg rgba(52,30,44,0.8);
@define-color main-fg rgba(240,170,214,0.8);
@define-color wb-act-bg rgba(183,113,29,0.4);
@define-color wb-act-fg rgba(255,232,204,1);
@define-color wb-hvr-bg rgba(103,75,125,0.4);
@define-color wb-hvr-fg rgba(218,170,240,0.8);
