[Desktop Entry]
Version=1.0
Name=Mega NZ
Comment=Web App
Exec=brave --app="https://mega.nz/fm/CrhnjZ4a" --class=WebApp-MegaNZ3675 --name=WebApp-MegaNZ3675 --user-data-dir=/home/kamquat/.local/share/ice/profiles/MegaNZ3675
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=mega
Categories=GTK;Utility;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-MegaNZ3675
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://mega.nz/fm/CrhnjZ4a
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
