[Desktop Entry]
Version=1.0
Name=Google Gemini
Comment=AI
Exec=brave --app="https://gemini.google.com/app" --class=WebApp-GoogleGemini7866 --name=WebApp-GoogleGemini7866 --user-data-dir=/home/kamquat/.local/share/ice/profiles/GoogleGemini7866
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/kamquat/Downloads/Gemini.png
Categories=GTK;Education;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-GoogleGemini7866
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://gemini.google.com/app
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
