[Desktop Entry]
Version=1.0
Name=Zyxel
Comment=Web App
Exec=brave --app="http://192.168.1.1/login" --class=WebApp-Zyxel5391 --name=WebApp-Zyxel5391 --user-data-dir=/home/kamquat/.local/share/ice/profiles/Zyxel5391
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/kamquat/Downloads/cbi--google-wifi-router.svg
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Zyxel5391
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=http://192.168.1.1/login
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
