[Desktop Entry]
Version=1.0
Name=X/Twitter
Comment=Web App
Exec=brave --app="https://x.com/home" --class=WebApp-XTwitter3333 --name=WebApp-XTwitter3333 --user-data-dir=/home/kamquat/.local/share/ice/profiles/XTwitter3333
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/kamquat/Downloads/pajamas--twitter.svg
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-XTwitter3333
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://x.com/home
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
