[Desktop Entry]
Version=1.0
Name=Cineby
Comment=Web App
Exec=brave --app="https://www.cineby.app/" --class=WebApp-Cineby0669 --name=WebApp-Cineby0669 --user-data-dir=/home/kamquat/.local/share/ice/profiles/Cineby0669
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/kamquat/Downloads/noto-v1--film-projector.svg
Categories=GTK;AudioVideo;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Cineby0669
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://www.cineby.app/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

